<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Discord Labs</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/df7c8610-060d-4cf9-8128-a8680fc35c9d%2Flogo1.png?v=1567243249964" type="image/jpeg">
      <link rel="icon" href="https://cdn.glitch.com/df7c8610-060d-4cf9-8128-a8680fc35c9d%2Flogo1.png?v=1567243249964" type="image/x-icon">
      <meta name='dmca-site-verification' content='cjh0U2FKYWNCWDBwQlo2WTdmQkE0UT090' />
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="theme-color" content="#7289DA">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="identifier-url" content="https://discordlabs.org">
      <meta name="keywords" content="discordlabs,discordbotlabs,discord labs, discord bot labs,discord, discord bot list, bot, bot list, bots, discord bots, botcord, bot lists, discord botcord, best discord botlist, best discord bot list">
      <meta name="language"  content="EN">
      <meta name="copyright" content="@2019 discordlabs.org">
      <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Blinker:400&display=swap" rel="stylesheet">

      <meta name="description" content="Check our our amazing list of lab approved discord bots!">

      <meta name="twitter:card" value="summary">
      <meta name="twitter:title" content="Discord Labs">
      <meta name="twitter:description" content="Creating the next generation of Discord sites and tools. Make sure to check out our new bot list!">

      <meta property="og:title" content="Discord Labs" />
      <meta property="og:url" content="https://discordlabs.org" />
      <meta property="og:description" content="Creating the next generation of Discord sites and tools. Make sure to check out our new bot list!"> 
      <meta property="og:image" content="https://cdn.glitch.com/df7c8610-060d-4cf9-8128-a8680fc35c9d%2Flogo1.png?v=1567243249964" />
      <meta property="og:site_name" value="Discord Labs">

      <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">-->

      <link rel="stylesheet" href="/style.css" />
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">

      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
          <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146652953-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-146652953-1');
      </script>

    </head>  
    <body>

      <div class="header">
        <h1 class="title">
          <img src="https://cdn.glitch.com/df7c8610-060d-4cf9-8128-a8680fc35c9d%2Flogo1.png?v=1567243249964" class="logo" align="baseline">Discord Labs
        </h1>
        <h2 class="subtitle">
          Creating the next generation of Discord sites and tools.
        </h2>
      </div>
      <div class="body">

      <br><br>
      <h1 class="bodytitle">
        Our Projects
      </h1>
      <div class="card">
        <h1 class="cardtitle">
          Discord Bot Labs
        </h1>
        <br><br><br>
        <p class="carddesc">
          After opening in 2019, the lab has turned into great way to let the world know about your Discord Bot. All the bots on the lab go through rigirous testing and are guarenteed to work at the time of submission. Come check out the lab today to find the perfect Discord bot for your server.
        </p>
        <br><br><br>
        <a href="//bots.discordlabs.org?utm_source=discordlabs.org" class="dabutton">Visit Project Website</a>
      </div>

      <br><br>
      <h1 class="bodytitle">
        The Staff Team
      </h1>
      <div class="card">
        <h1 class="cardtitle">
          Some of our amazing staff!
        </h1>
        <br><br><br>
        <p class="carddesc">
           Discord Labs wouldn't be where it is right know without help from our amazing staff! Check out our staff page to view the amazing staff that bring this amazing service to you!
        </p>
        <br><br><br>
        <a href="//staff.discordlabs.org?utm_source=discordlabs.org" class="dabutton">Visit Staff Page</a>
      </div>


  <br><br><br><br>
  <!--<a href="https://bots.discordlabs.org/advertise/?spot=mainlanding_01"><img src="https://cdn.glitch.com/840f1b48-05f8-408d-a861-7de8f1f0efc5%2Fyourad.png?v=1566204422099" width="70%"></a>-->


  <br/>
        <!--<div class="footer-clean">
          <footer>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-sm-4 col-md-3 item">
                          <h3>Important Links</h3>
                          <ul>
                              <li><a href="//bots.discordlabs.org">Discord Bot Labs</a></li>
                              <li><a href="//staff.discordlabs.org">Discord Lab Staff</a></li>

                          </ul>
                      </div>
                      <div class="col-sm-4 col-md-3 item">
                          <h3>Cool Things</h3>
                          <ul>
                              <li><a href="#">Company</a></li>
                              <li><a href="#">Team</a></li>
                              <li><a href="#">Legacy</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-4 col-md-3 item">
                          <h3>Partners</h3>
                          <ul>
                              <li><a href="#">Job openings</a></li>
                              <li><a href="#">Employee success</a></li>
                              <li><a href="#">Benefits</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                          <p class="copyright">Company Name © 2017</p>
                      </div>
                  </div>
              </div>
          </footer>
      </div>-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <a href="//www.dmca.com/Protection/Status.aspx?ID=2539712b-fe88-4d12-868b-3a15efb7e09b" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=2539712b-fe88-4d12-868b-3a15efb7e09b"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
  </html>
